@import 'tailwindcss';

@import './styles/aural-theme.css';

:root {
	/* aural-ui tokens :root variables */
	--button-fm-background: linear-gradient(
		to right,
		var(--color-fm-secondary-400),
		var(--color-fm-primary-300),
		var(--color-fm-secondary-400)
	);
	--button-fm-noise: url('data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20100%20100%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20opacity%3D%270.6%27%3E%3Cfilter%20id%3D%27noiseFilter%27%3E%3CfeTurbulence%20type%3D%27fractalNoise%27%20baseFrequency%3D%274%27%20numOctaves%3D%271%27%20stitchTiles%3D%27stitch%27/%3E%3C/filter%3E%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url(%23noiseFilter)%27/%3E%3C/svg%3E');

	/* aural-ui tokens :root variables */
	--button-fm-noise-low: url('data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20100%20100%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20opacity%3D%270.2%27%3E%3Cfilter%20id%3D%27noiseFilter%27%3E%3CfeTurbulence%20type%3D%27fractalNoise%27%20baseFrequency%3D%274%27%20numOctaves%3D%271%27%20stitchTiles%3D%27stitch%27/%3E%3C/filter%3E%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url(%23noiseFilter)%27/%3E%3C/svg%3E');

	/* aural-ui tokens :root variables */
	--bottom-sheet-shadow: 0 -21px 24.8px -27px;
}

@theme {
	/* aural-ui tokens @theme variables */
	--color-fm-divider-contrast: var(--color-fm-neutral-700);
	--color-fm-inactive: var(--color-fm-neutral-300);
	--color-fm-neutral-1100: rgb(255, 255, 255);
	--color-fm-primary: var(--color-fm-neutral-1100);
	--color-fm-primary-200: rgb(117, 0, 0);
	--color-fm-primary-600: rgb(255, 62, 76);
	--color-fm-secondary-300: rgb(82, 0, 163);
	--color-fm-secondary-800: rgb(197, 138, 255);
	--color-fm-surface-secondary: var(--color-fm-neutral-100);
	--font-fm-brand: 'PP Supply Sans';
	--spacing-fm-2xl: 1rem;
	--spacing-fm-4xl: 1.5rem;
	--spacing-fm-5xl: 2rem;
	--spacing-fm-lg: 0.5rem;
	--spacing-fm-xl: 0.75rem;
	--stroke-fm-sm: 0.0625rem;
	--stroke-fm-xsm: 0.03125rem;
	--text-fm-md: 0.875rem;
	--text-fm-sm: 0.75rem;
	--text-fm-xl: 1.25rem;
	--color-fm-secondary-400: rgb(105, 0, 209);
	--color-fm-primary-300: rgb(163, 0, 12);
	--color-fm-neutral-700: rgb(157, 157, 157);
	--color-fm-neutral-300: rgb(65, 65, 65);
	--color-fm-neutral-100: rgb(29, 29, 29);

	/* aural-ui tokens @theme variables */
	--color-fm-divider-positive: var(--color-fm-green-500);
	--color-fm-divider-primary: var(--color-fm-neutral-300);
	--color-fm-divider-tertiary: var(--color-fm-neutral-100);
	--color-fm-green-50: rgb(0, 26, 9);
	--color-fm-green-100: rgb(0, 71, 25);
	--color-fm-icon-active: var(--color-fm-neutral-1100);
	--color-fm-icon-inactive: var(--color-fm-neutral-500);
	--color-fm-surface-primary: var(--color-fm-neutral-50);
	--color-fm-green-500: rgb(27, 203, 100);
	--color-fm-neutral-500: rgb(102, 102, 102);
	--color-fm-neutral-50: rgb(10, 10, 10);

	/* aural-ui tokens @theme variables */
	--color-fm-blue-300: rgb(0, 131, 163);
	--color-fm-button-fill-secondary: var(--color-fm-neutral-200);
	--color-fm-divider-secondary: var(--color-fm-neutral-200);
	--color-fm-green-300: rgb(0, 152, 60);
	--color-fm-red-300: rgb(163, 25, 0);
	--color-fm-surface-frosted: var(--color-fm-neutral-500);
	--color-fm-yellow-300: rgb(163, 139, 0);
	--leading-fm-md: 1.125rem;
	--leading-fm-xl: 1.5rem;
	--color-fm-neutral-200: rgb(47, 47, 47);
}

/* aural-ui tokens @property declarations */
@property --gradientSizeX {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --gradientSizeY {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --gradientPositionY {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}
